@import "tailwindcss";

@theme {
  --color-anaya-bg: #F5F5F3;
  --color-anaya-green: #90987D;
  --color-anaya-green-dark: #6D745E;
  --color-anaya-light: #FBF8F4;
  --color-anaya-text: #2D2D2D;
  --color-anaya-button: #929EB2;
  --color-anaya-button-hover: #7b8aa0;
  --color-anaya-accent: #E0967A;
  --color-anaya-accent-hover: #d37f61;
  --color-anaya-error: #D32F2F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-anaya-bg);
  color: var(--color-anaya-text);
  min-height: 100vh;
}
